<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.kdj.mlink.ezup.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.kdj.mlink.ezup.Perspective"
            name="RCP Perspective"
            id="com.kdj.mlink.ezup.perspective.ID">
      </perspective>
      <perspective
            class="com.kdj.mlink.ezup.PerspectiveFreeMoving"
            id="com.kdj.mlink.ezup.perspectiveFreeMoving.ID"
            name="Free Moving">
      </perspective>
      <perspective
            class="com.kdj.mlink.ezup.PerspectiveDebug"
            id="com.kdj.mlink.ezup.perspectiveDebug.ID"
            name="Debug">
      </perspective>
      <perspective
            class="com.kdj.mlink.ezup.concurrency.view.JobDemoPerspective"
            id="com.kdj.mlink.ezup.concurrency.view.JobDemoPerspective.ID"
            name="JobDemo">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Hello Ezup"
            application="com.kdj.mlink.ezup.application">
         <property
               name="windowImages"
               value="icons/MLink16.gif,icons//MLink32.gif,icons/eclipse48.png,icons/eclipse64.png,icons/eclipse128.png,icons/eclipse256.png">
         </property>
         <property
               name="appName"
               value="Hello Ezup">
         </property>
         <property
               name="aboutImage"
               value="icons/About130_165.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.kdj.mlink.ezup.ui.MainView"
            id="com.kdj.mlink.ezup.MainView.ID"
            name="MainView"
            restorable="true">
      </view>
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="com.kdj.mlink.ezup.ui.ProgressView"
            name="Progress View"
            restorable="true">
      </view>
      <view
            class="com.kdj.mlink.ezup.DebugConsole"
            id="com.kdj.mlink.ezup.IConsoleConstants.ID"
            name="DebugView"
            restorable="true">
      </view>
      <view
            class="com.kdj.mlink.ezup.concurrency.view.JobsView"
            id="com.kdj.mlink.ezup.concurrency.view.JobsView"
            name="Job View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.kdj.mlink.ezup.commands.ExitHandler"
            id="com.kdj.mlink.ezup.commands.Exit.ID"
            name="Exit">
      </command>
      <command
            defaultHandler="com.kdj.mlink.ezup.commands.OpenDialogHandler"
            id="com.kdj.mlink.ezup.commands.Login.ID"
            name="Login">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.kdj.mlink.ezup.commands.OpenDialogHandler"
            commandId="com.kdj.mlink.ezup.commands.OpendDialog.ID">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.kdj.mlink.ezup.PreferencePage2"
            id="com.kdj.mlink.ezup.GeneralPreferencePage.ID"
            name="General">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.kdj.mlink.ezup.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="com.kdj.mlink.ezup">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.kdj.mlink.ezup.DebugConsole"
            label="DebugConsole">
      </consoleFactory>
   </extension>
   
   <extension
      point="org.eclipse.ui.views">
   <view
         name="Progress View"
         icon="icons/pview.png"
         category="org.eclipse.ui"
         class="org.eclipse.ui.ExtensionFactory:progressView"
         id="org.eclipse.ui.views.ProgressView">
   </view>
   </extension>
      
</plugin>
