<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.kdj.mlink.ezup3.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.kdj.mlink.ezup3.Perspective"
            id="com.kdj.mlink.ezup3.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Intro"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="com.kdj.mlink.ezup3.View"
            id="com.kdj.mlink.ezup3.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="com.kdj.mlink.ezup3.NavigationView"
            id="com.kdj.mlink.ezup3.navigationView">
      </view>
      <view
            class="com.kdj.mlink.ezup3.ui.ProductManager"
            id="com.kdj.mlink.ezup3.ui.ProductManager"
            name="ProductManager"
            restorable="true">
      </view>
      <view
            class="com.kdj.mlink.ezup3.DebugConsole"
            id="com.kdj.mlink.ezup3.IConsoleConstants"
            name="DebugView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="com.kdj.mlink.ezup3.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="com.kdj.mlink.ezup3.category"
            id="com.kdj.mlink.ezup3.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="com.kdj.mlink.ezup3.category"
            id="com.kdj.mlink.ezup3.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.kdj.mlink.ezup3.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="com.kdj.mlink.ezup3.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.kdj.mlink.ezup3.application"
            name="MLink ezup Example (Cloud Update)">
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="MLink ezup Example (Cloud Update)">
         </property>
         
      </product>
   </extension>
   	<extension 
   		id="preferences" point="org.eclipse.core.runtime.preferences" name="%preferences">
		<initializer class="com.kdj.mlink.ezup3.p2.PreferenceInitializer"/>
	</extension>
       <extension
         point="org.eclipse.ui.installationPages">
          <page
            name="%installedSoftwarePage"
            class="org.eclipse.equinox.p2.ui.InstalledSoftwarePage"
            id="10.com.kdj.mlink.ezup3.InstalledSoftwarePage">
          </page>
          <page
            name="%installHistoryPage"
            class="org.eclipse.equinox.p2.ui.RevertProfilePage"
            id="11.com.kdj.mlink.ezup3.RevertProfilePage">
          </page>
          
      </extension>
       <extension
         point="org.eclipse.ui.commands">
      <command
            name="%Update.command"
            id="com.kdj.mlink.ezup3.command.update">
      </command>
      <command
            name="%Install.command"
            id="com.kdj.mlink.ezup3.command.install">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.kdj.mlink.ezup3.command.update"
            class="com.kdj.mlink.ezup3.p2.UpdateHandler">
      </handler>
      <handler
            commandId="com.kdj.mlink.ezup3.command.install"
            class="com.kdj.mlink.ezup3.p2.InstallNewSoftwareHandler">
      </handler>
   </extension>
     <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:tools?after=additions">
            <command
                  commandId="com.kdj.mlink.ezup3.command.update"
            	  mnemonic="%Update.command.mnemonic"
                  id="com.kdj.mlink.ezup3.menu.update">
            </command>
                        
      </menuContribution>
      <menuContribution
            locationURI="menu:tools?after=com.kdj.mlink.ezup3.menu.update">
            <command
                  commandId="com.kdj.mlink.ezup3.command.install"
            	  mnemonic="%Install.command.mnemonic"
                  id="com.kdj.mlink.ezup3.menu.install">
            </command>
      </menuContribution>
   </extension>
   <extension
           point="org.eclipse.ui.intro">
        <intro
              class="org.eclipse.ui.intro.config.CustomizableIntroPart"
              id="com.kdj.mlink.ezup3.intro">
        </intro>
        <introProductBinding
              introId="com.kdj.mlink.ezup3.intro"
              productId="com.kdj.mlink.ezup3.product">
        </introProductBinding>
     </extension>
     <extension
           point="org.eclipse.ui.intro.config">
        <config
              content="introContent.xml"
              id="com.kdj.mlink.ezup3.configId"
              introId="com.kdj.mlink.ezup3.intro">
           <presentation
                 home-page-id="root">
              <implementation
                    kind="html"
                    os="win32,linux,macosx">
              </implementation>
           </presentation>
        </config>
     </extension>

</plugin>
